body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
}

svg {
  display: block;
  margin: 0 auto;
  background-color: #e7c65c;
}

.face-id {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  fill: #444;
  pointer-events: none; /* Così non interferisce con i click */
}